body, html {
    height: 100%;
}

body{
    background-image: url("../images/football_field_background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trivia-image{
    height: 225px;
    width: 225px;
}